*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle at top,
    #132a55,
    #081229 60%);

    color:white;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{

    width:550px;

    padding:40px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.1);

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 0 25px rgba(255,123,0,0.2);
}

h1{
    color:#ff7b00;
    margin-bottom:10px;
}

.subtitle{
    color:#cfd8dc;
    margin-bottom:30px;
}

.upload-box{

    padding:30px;

    border:2px dashed #ff7b00;

    border-radius:15px;

    margin-bottom:25px;
}

input[type="file"]{

    margin-top:20px;

    color:white;
}

.btn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#ff7b00;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{

    background:#ff9500;

    transform:translateY(-2px);
}